<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />

    <title>create Post</title>
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="mb-4">create post</h1>
      <form action="/post/create" method="post">
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            class="form-control"
            name="title"
            id="title"
            required
          />
        </div>
        <div class="form-group">
          <label for="subtitle">Subtitle</label>
          <input
            type="text"
            class="form-control"
            name="subtitle"
            id="subtitle"
            required
          />
        </div>
        <div class="form-group">
          <label for="content">Content</label>
          <textarea
            class="form-control"
            name="content"
            id="content"
            rows="5"
            required
          ></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
      </form>
    </div>

    <!-- Optional JavaScript and dependencies -->
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdFd8T1Xv5vFT+YqRj6Y5vBJ+E8DLzD/oUvc5ar5CZKE5lW9uBBz0fqjD9F7XD"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2LcAuU8SpVQ2Uv0VfsCH8v6i2WMS5kZL3f5p0nJ6nQ"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
